<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- Link to CSS file -->
    <title>Video Downloader1</title>
</head>
<body>
    <div class="container">
        <h1>Video Downloader1</h1>
        <form action="/download" method="post" class="download-form">
            <input type="text" name="url" placeholder="Enter Video URL" required>
            <button type="submit" class="download-button">Download Video</button>
        </form>
        <div class="result" th:if="${status}">
            <h2>Download Status:</h2>
            <p th:text="${status}"></p>
        </div>
    </div>
</body>
</html>
